{% extends 'base.html' %}

{% block body %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gráficos de IMC e Exercício</title>
    <style>
        .container {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: 80%;
            margin: 0 auto;
            padding-top: 20px;
        }
        .column {
            flex: 1;
            text-align: center;
        }
        img {
            width: 80%;
            height: auto;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="column">
            <h2>Distribuição de Frequência de Exercício</h2>
            <img src="{{ url_for('static', filename='graficos/grafico_exercise.png') }}" alt="Gráfico de Exercício">
        </div>
        <div class="column">
            <h2>Distribuição de IMC</h2>
            <img src="{{ url_for('static', filename='graficos/grafico_imc.png') }}" alt="Gráfico de IMC">
        </div>
    </div>
</body>
{% endblock %}
