{% extends 'base.html' %}

{% block body %}
  <div class="container mt-3">
    <h1 style="color: green">Sua Saúde</h1>
    <h2>Aqui você encontra dicas de saúde específicas para as suas condições</h2>
    <hr>
    O Índice de Massa Corporal (IMC) é uma medida que relaciona o peso e a altura de uma pessoa,
    proporcionando uma avaliação geral da composição corporal e auxiliando na categorização do peso,
    como abaixo do peso, peso normal, sobrepeso ou obesidade. A importância das atividades físicas na manutenção da
    saúde é significativa, pois não apenas contribuem para a regulação do peso corporal, mas também promovem o
    funcionamento adequado do sistema cardiovascular, fortalecem músculos e ossos, e ajudam a controlar níveis de
    estresse e ansiedade. A prática regular de atividades físicas está associada a uma série de benefícios para a saúde,
    incluindo a prevenção de doenças crônicas, melhoria do humor e aumento da energia, reforçando a ideia de que a
    combinação de um peso saudável e uma rotina ativa é essencial para o bem-estar geral.
    <p>
      Por favor, crie uma conta ou faça login no site para encontrar as dicas que você precisa.
    </p>
  </div>
{% endblock %}